.header {
	display: flex;
	justify-content: space-between;
	padding: 5rem 0;
	align-items: center;

	&__logo {
		width: 30rem;
		margin-bottom: 0;
	}
}

.nav {
	display: flex;
	align-items: center;
	gap: 2rem;

	&__link {
		font-size: 2rem;
		font-weight: 700;
		color: $negro;

		&--register {
			background-color: $primario;
			color: $blanco;
			padding: 1.2rem 2.5rem;
			border-radius: 1rem;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			border: none;
		}
	}
}